*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    background-color: lightblue;
    height: 5rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-reverse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.navbar{
    background-color: rgb(229, 148, 72);
    height: 3rem;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
    border: 2px dashed black;
}
ul{
    list-style-type: none;
    width: 75%;
}
 .adv{
    background-color: blue;
    height: 500px;
 }
 .jumbotrone{
    width: 60%;
    height: 80%;
    background-color: rgb(228, 136, 152);
    border: 2px dashed black;
}
.blocco{
    height: 500px;
}
.contenitore-blu{
    background-color: lightblue;
    width: 50%;
    height: 80%;
    border: 2px dashed black
}
.contenitore-rosa{
    background-color: pink;
    width: 25%;
    height: 80%;
    border: 2px dashed black
}
.bloccogrigio {
    background-color: lightgray;
    height: 500px;
}