*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
header{
    background-color: lightblue;
    height: 5rem;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-reverse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.navbar{
    background-color: rgb(229, 148, 72);
    height: 3rem;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 10px;
    border: 2px dashed black;
}
ul{
    list-style-type: none;
    width: 50%;
    border-style: none dotted none dotted;
}
 .adv{
    background-color: blue;
    height: 500px;
 }
 .jumbotrone{
    width: 60%;
    height: 80%;
    background-color: rgb(228, 136, 152);
    border: 2px dashed black;
}
.blocco{
    height: 500px;
}
.contenitore-blu{
    background-color: lightblue;
    width: 50%;
    height: 80%;
    border: 2px dashed black
}
.contenitore-rosa{
    background-color: pink;
    width: 25%;
    height: 80%;
    border: 2px dashed black
}
.bloccogrigio {
    background-color: lightgray;
    height: 500px;
}
.bloccogrigio2{
    background-color: lightgray;
    height: 1250px;
}
.contenitore-verde{
    background-color: green;
    border:2px dashed black;
    height: 90%;
    width: 75%;
}
footer{
    background-color: #323232;
    height: 800px;
}
.info{
    height: 90%;
}
.contenitore-rosa2{
    background-color: rgb(229, 100, 122);
    height: 80%;
    width: 20%;
    border: 2px dashed black;
}
.contenitore-celeste{
    background-color: aquamarine;
    height: 80%;
    width: 13.75%;
    border: 2px dashed white;
}
hr{
    color: rgb(238, 238, 206);
}

.navbarpiè{
    background-color: aquamarine;
    width: 75%;
    margin: auto;
    height: 3rem;
}
.flex1{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.container{
    background-color:rgb(229, 100, 122);
    border: 2px dashed black;
}